# negative gitignore configuration

# ignore everything
/*

# but not:

!.gitignore
!.gitmodules

# don't ignore emacs files that matter
!.init.el
!configuration.org
!/snippets
!/lisp
!/elpa

# but ignore the elc files in elpa and lisp
/elpa/**/*.elc
/lisp/**/*.elc

# and ignore these compiled binaries which will vary per system
/elpa/pdf-tools-*/epdfinfo
/elpa/emacsql-*/sqlite/emacsql-sqlite
