[submodule "lisp/page-break-lines"]
	path = lisp/page-break-lines
	url = https://github.com/purcell/page-break-lines.git
[submodule "lisp/org-ai"]
	path = lisp/org-ai
	url = git@github.com:rksm/org-ai.git
