auto-save-list
elpa
savefile
savefile/*
url
transient
projectile-bookmarks.eld
*.elc
configuration.el
*.html
*~
%backup%*
*.html
*.sqlite
games

/eww-bookmarks
server/server
/elpy/
eshell/history
